.Navigation {
  display: flex;
  align-items: center;
  width: 100vw;

  align-items: flex-start;
  background-color: #ff8989;

  box-shadow: 0 4px 2px #ff8989;
}

.Link {
  margin-left: 20px;
  margin-right: 30px;

  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 10px;

  color: #f5f5f5a6;
}
